openapi: 3.0.3
info:
  title: Sauce Labs Jobs Devices Users API
  description: Manage and retrieve test jobs running on Sauce Labs virtual and real device infrastructure. Supports listing jobs, fetching job assets such as logs, videos, and screenshots, updating job attributes, and stopping or deleting jobs.
  version: '1.1'
  contact:
    name: Sauce Labs Support
    url: https://support.saucelabs.com
  termsOfService: https://saucelabs.com/terms-of-service
  license:
    name: Proprietary
    url: https://saucelabs.com/terms-of-service
servers:
- url: https://api.us-west-1.saucelabs.com
  description: US West (primary)
- url: https://api.eu-central-1.saucelabs.com
  description: EU Central
security:
- basicAuth: []
tags:
- name: Users
paths:
  /v1.2/users/{username}/concurrency:
    get:
      operationId: getUserConcurrency
      summary: Get User Concurrency
      description: Returns the current and maximum concurrency limits for the user.
      tags:
      - Users
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Concurrency information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Concurrency'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      description: Error response envelope.
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages.
        message:
          type: string
          description: Summary error message.
    Concurrency:
      type: object
      description: Concurrency usage and limits for a user.
      properties:
        timestamp:
          type: number
        concurrency:
          type: object
          properties:
            self:
              type: object
              properties:
                allowed:
                  type: object
                  properties:
                    overall:
                      type: integer
                    mac:
                      type: integer
                    manual:
                      type: integer
                current:
                  type: object
                  properties:
                    overall:
                      type: integer
                    mac:
                      type: integer
                    manual:
                      type: integer
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your Sauce Labs username and access key as the HTTP Basic Authentication credentials.
externalDocs:
  description: Sauce Labs Jobs API Documentation
  url: https://docs.saucelabs.com/dev/api/jobs/
