openapi: 3.0.3
info:
  title: Sauce Labs Jobs Devices Platform API
  description: Manage and retrieve test jobs running on Sauce Labs virtual and real device infrastructure. Supports listing jobs, fetching job assets such as logs, videos, and screenshots, updating job attributes, and stopping or deleting jobs.
  version: '1.1'
  contact:
    name: Sauce Labs Support
    url: https://support.saucelabs.com
  termsOfService: https://saucelabs.com/terms-of-service
  license:
    name: Proprietary
    url: https://saucelabs.com/terms-of-service
servers:
- url: https://api.us-west-1.saucelabs.com
  description: US West (primary)
- url: https://api.eu-central-1.saucelabs.com
  description: EU Central
security:
- basicAuth: []
tags:
- name: Platform
paths:
  /v1/info/status:
    get:
      operationId: getPlatformStatus
      summary: Get Platform Status
      description: Returns the current operational status of the Sauce Labs platform.
      tags:
      - Platform
      security: []
      responses:
        '200':
          description: Platform status information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SauceStatus'
  /v1/info/platforms/{platform}:
    get:
      operationId: getPlatformInfo
      summary: Get Supported Platforms
      description: Returns a list of supported OS/browser combinations for the given platform.
      tags:
      - Platform
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: string
          enum:
          - webdriver
          - appium
          - all
      security: []
      responses:
        '200':
          description: List of supported platforms.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Platform'
components:
  schemas:
    Platform:
      type: object
      description: A supported platform/browser/OS combination.
      properties:
        api_name:
          type: string
          description: API identifier for the browser.
        long_name:
          type: string
          description: Full display name of the browser.
        short_version:
          type: string
          description: Short version identifier.
        long_version:
          type: string
          description: Full version string.
        os:
          type: string
          description: Operating system name.
        latest_stable_version:
          type: string
          description: Latest stable release version.
        automation_backend:
          type: string
          description: Automation backend (e.g., webdriver).
        device:
          type: string
          nullable: true
          description: Device name for mobile platforms.
    SauceStatus:
      type: object
      description: Platform operational status.
      properties:
        wait_time:
          type: number
          description: Current average wait time in seconds.
        service_operational:
          type: boolean
          description: Whether the service is currently operational.
        status_message:
          type: string
          description: Human-readable status message.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your Sauce Labs username and access key as the HTTP Basic Authentication credentials.
externalDocs:
  description: Sauce Labs Jobs API Documentation
  url: https://docs.saucelabs.com/dev/api/jobs/
